.dap-breakpoints
anaconda-mode/
games
auto-save-list/
elpa/
url/
eshell/
recentf
.mc-lists.el
bookmarks
custom.el
smex-items
tramp
.cache/
.lsp-session-v1
projectile-bookmarks.eld
projectile.cache
transient/
.org-id-locations
forge-database.sqlite
request
timelog

# keep directory but ignore contents
backups/*
!backups/.gitkeep