.dap-breakpoints
anaconda-mode/
games
auto-save-list/
elpa/
url/
eshell/
recentf
.mc-lists.el
bookmarks
custom.el
smex-items
tramp
.cache/
.lsp-session-v1
projectile-bookmarks.eld
projectile.cache
transient/
.org-id-locations
forge-database.sqlite
request
timelog

# pulled from https://github.com/AndreaCrotti/yasnippet-snippets
snippets

# keep directory but ignore contents
backups/*
!backups/.gitkeep
/mymodes/
/straight/
/org-roam.db
/tokens/
/history
/projects
/undo/
/eln-cache/
*.elc
/tree-sitter/
